body {
    background-color: #CCCCCC;
    margin: 0;
    padding: 0;
}

input {
    width: 70%;
    height: 15px;
    padding: 10px;
    font-size: 17px;
    margin: 15px;
    border: 0;
    border-radius: 5px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 10px #ae08e1;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #FECD23;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #dddddd;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #dddddd;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

button {
    width: 100%;
    padding: 0.9rem 2rem;
    margin-top: 1.2rem;
    color: #dddddd;
    background-color: #1D0C20;
    font-size: 0.9rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.container {
    width: 700px;
    padding-top: 20px;
    margin: auto;
    margin-top: 8px;
    transform: scale(0.9); /* 90% do tamanho */
    transform-origin: top center;
    border-radius: 10px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    background-color: #220D25;
    background: linear-gradient(to bottom, #220D25 0%, #3a1244 40%,  #631E6F 100%);
    padding-bottom: 30px;
}

.header-subtitle { 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #dddddd;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.box {
    border-radius: 12px;
    margin-left: 25px;
    margin-right: 25px;
    background: linear-gradient(to bottom,#631E6F 0%,#3a1244 100%,#220D25 100%);
    padding-bottom: 15px;
    margin-top: 15px;
}
 
.flex-header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #dddddd;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.container-esportes, .container-aiport, .container-psychology {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #2637DA;
}

.card-esportes, .card-aiport, .card-psychology {
    background: linear-gradient(
    to top,
    #5FA8FF 0%,
    #4A7CF0 45%,
    #2E5BD9 100%
  );
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}